h1 {
  color: #114b5f;
  font-size: 35px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 0;
}
h2 {
  color: #1a936f;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
  font-size: 70px;
}
#icon {
  padding: 0px 10px 5px 30px;
}
h4 {
  color: #114b5f;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 15px 10px 5px 0px;
}
#otherInfo {
  padding: 90px 50px 5px 50px;
  color: #1a936f;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.col-2 {
  color: #1a936f;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.container {
  color: #1a936f;
}
.temp {
  font-size: 15px;
  font-weight: lighter;
  position: relative;
  top: -7px;
}

#celsius-link {
  text-decoration: none;
  color: #114b5f;
}
#fahrenheit-link {
  text-decoration: none;
  color: #114b5f;
}

.weather-app {
  background-color: #f3e9d2;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: 20px;
  margin: 20px auto;
  max-width: 650px;
}

#result {
  background: white;
  padding: 6px 10px;
  margin: 0 8px 10px 0;
  border: none;
  border-radius: 20px;
}

#search-btn {
  padding: 6px 10px;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  background: #1a936f;
}

#search-btn:hover {
  color: #1a936f;
  background: #ffffff;
}

#current-location-btn {
  padding: 6px 10px;
  border: none;
  border-radius: 20px;
  background: #ffffff;
  color: #1a936f;
}

#current-location-btn:hover {
  color: #ffffff;
  background: #1a936f;
}

#weather-forecast {
  text-align: center;
}

.min-temp {
  opacity: 0.5;
}

#OpenSourceCode {
  display: block;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
